.user-playlist-container {
  color: #aeaeae;
  overflow: auto;
}

.user-playlist-item {
  list-style-type: none;
  line-height: 28px;
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 180px;
  cursor: pointer;
  overflow: hidden;
  padding-left: 10px;
}

.user-playlist-item:hover {
  color: #fff;
}

.user-playlist-container .active {
  color: #fff;
}
