.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-container > h2 {
  font-size: 32px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 25px;
}

.welcome-container > p {
  font-size: 24px;
}

.text-login {
  text-transform: uppercase;
  font-weight: 700;
  border-bottom: 5px solid;
  border-image: linear-gradient(90deg, #af2896, #509bf5) 1;
}
