.app {
  display: flex;
  flex-direction: column;
}

.app-container {
  display: flex;
  flex-grow: 1;
}

.left-side-section {
  display: flex;
  flex-direction: column;
  flex: 0.114;
  padding-left: 10px;
  padding-right: 10px;
  height: calc(100vh - 95px);
  color: #ffffff;
  background-color: #040404;
}

.main-section {
  position: relative;
  width: 100%;
  height: calc(100vh - 95px);
  overflow-y: overlay;
  flex: 0.886;
  color: #ffffff;
  background-color: #121212;
}

.main-section-container {
  position: relative;
  padding-bottom: 20px;
}
